/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
var/
vendor/
.phpunit
/phpunit.xml
/.web-server-pid
.idea
.env
/config/config.php
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
