{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {% for device in devices %}
        <section onclick="
                let application = new Application();
                application.changeState({{ device['deviceId'] }})"
                 class="tile bg-color-light-blue w-250" id="device-{{ device['deviceId'] }}">
            <i class="icon state-icon
                {% if(device['state'] == 1) %}
                    icon-locked
                {% elseif(device['state'] == 2) %}
                    icon-unlocked
                {% elseif(device['state'] == 3) %}
                    icon-turned-on
                {% elseif(device['state'] == 4) %}
                    icon-turned-off
                {% elseif(device['state'] == 5) %}
                    icon-rolled-up
                {% elseif(device['state'] == 6) %}
                    icon-rolled-down
                {% endif %}"></i>
            <i class="icon icon-status-working"></i>

            <span>{{ device['deviceName'] }}</span>
        </section>
    {% endfor %}
{% endblock %}
{% block javascripts %}
{% endblock %}

